.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0071c25e;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

.lInput{
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 19px 31px 18px -12px rgba(213,213,213,0.65);
-webkit-box-shadow: 19px 31px 18px -12px rgba(213,213,213,0.65);
-moz-box-shadow: 19px 31px 18px -12px rgba(213,213,213,0.65);
    border: none;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}