.register {
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff67;
}

.rContainer {
  display: flex;
  flex-direction: column;
  background-color: #003580;
  height: auto;
  padding: 50px 50px;
  border-radius:20px;
  box-shadow: 4px 7px 16px 1px rgba(0,0,0,0.71);
-webkit-box-shadow: 4px 7px 16px 1px rgba(0,0,0,0.71);
-moz-box-shadow: 4px 7px 16px 1px rgba(0,0,0,0.71);
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
  border-radius: 15px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}

.header-banner{
  height: 200px;
  background-color: #003580;
  display: flex;
  border: 1px solid #f4c50a00;
  border-bottom: #ffcc00;
  flex-direction: column;
}