<link rel="stylesheet" href="{{url_for('static',filename='styles/result.css')}}"><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotelname</th>
      <th>distance</th>
      <th>roomtype_x</th>
      <th>address</th>
      <th>city</th>
      <th>onsiterate</th>
      <th>maxoccupancy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Hotel Apogia Lloyd Rome</td>
      <td>2.155082</td>
      <td>Economy Single Room</td>
      <td>Via Alessandria 110/A</td>
      <td>rome</td>
      <td>53.24</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Hotel Metropolis</td>
      <td>2.055420</td>
      <td>Double Room</td>
      <td>26 Delle Milizie Avenue</td>
      <td>rome</td>
      <td>90.42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Hotel San Francesco</td>
      <td>2.006919</td>
      <td>Double or Twin Room</td>
      <td>Via Jacopa De' Settesoli 7</td>
      <td>rome</td>
      <td>71.33</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Hotel Athena</td>
      <td>3.066260</td>
      <td>Single</td>
      <td>Via Ercole Pasquali 3</td>
      <td>rome</td>
      <td>31.66</td>
      <td>1</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Hotel Relais Dei Papi</td>
      <td>1.804189</td>
      <td>Single</td>
      <td>161 Via Dei Gracchi</td>
      <td>rome</td>
      <td>45.29</td>
      <td>1</td>
    </tr>
  </tbody>
</table>