<link rel="stylesheet" href="{{url_for('static',filename='styles/result.css')}}"><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotelname</th>
      <th>distance</th>
      <th>roomtype_x</th>
      <th>address</th>
      <th>city</th>
      <th>onsiterate</th>
      <th>maxoccupancy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Timhotel Tour Eiffel</td>
      <td>4.774705</td>
      <td>Comfort Single Room</td>
      <td>11 rue Juge</td>
      <td>paris</td>
      <td>104.48</td>
      <td>1</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Best Western Hotel Litteraire Arthur Rimbaud</td>
      <td>3.255304</td>
      <td>2 Single Beds</td>
      <td>6 rue Gustave Goublier</td>
      <td>paris</td>
      <td>115.67</td>
      <td>1</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Best Western Hotel Prince Montmartre</td>
      <td>1.475202</td>
      <td>Single</td>
      <td>116 Rue Ordener</td>
      <td>paris</td>
      <td>85.09</td>
      <td>1</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Arc Elysees Hotel</td>
      <td>1.999800</td>
      <td>Single</td>
      <td>45 rue Washington</td>
      <td>paris</td>
      <td>120.16</td>
      <td>1</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Tonic Hotel Saint-Germain</td>
      <td>4.320469</td>
      <td>Classic Double Room with Bath</td>
      <td>Rue des Quatre Vents</td>
      <td>paris</td>
      <td>146.68</td>
      <td>1</td>
    </tr>
  </tbody>
</table>