<link rel="stylesheet" href="{{url_for('static',filename='styles/result.css')}}"><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hotelname</th>
      <th>distance</th>
      <th>roomtype_x</th>
      <th>address</th>
      <th>city</th>
      <th>onsiterate</th>
      <th>maxoccupancy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Hotel-Maison Am Olivaer Platz</td>
      <td>4.310469</td>
      <td>Standard Single Room</td>
      <td>Leibnizstr. 57</td>
      <td>berlin</td>
      <td>77.94</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>HENRI Hotel - Berlin Kurfuerstendamm</td>
      <td>3.312629</td>
      <td>Standard Room</td>
      <td>Meinekestreet 9</td>
      <td>berlin</td>
      <td>0.00</td>
      <td>2</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Hotel Panorama</td>
      <td>4.794900</td>
      <td>Single Standard</td>
      <td>Lewishamstr.1</td>
      <td>berlin</td>
      <td>64.13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Novum Hotel Aldea Berlin Zentrum</td>
      <td>1.684094</td>
      <td>Standard Double or Twin Room</td>
      <td>Buelowstr. 19-22</td>
      <td>berlin</td>
      <td>62.08</td>
      <td>1</td>
    </tr>
    <tr>
      <th>211</th>
      <td>PLUS BERLIN Hotel &amp; Hostel</td>
      <td>4.999003</td>
      <td>1 Person in 6-Bed Dormitory with En-Suite - Mixed</td>
      <td>Warschauer Platz</td>
      <td>berlin</td>
      <td>25.26</td>
      <td>1</td>
    </tr>
  </tbody>
</table>