<html>
    <head>
<title>Hotel Recommender</title>
    <style type="text/css">
body {
  background-image: url('maxresdefault.jpg');
  background-repeat: no-repeat;
    background-size: cover
</style>
    </head>

<body>
    
    <form action="." method="post">
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>
  <label for="add">Adress:</label><br>
  <input type="text" id="add" name="add"><br>
      <label for="nec">Neccesity:</label><br>
  <input type="text" id="nec" name="nec">  <br>
        <label for="g">Number of Guests:</label><br>
  <input type="text" id="g" name="g"><br><br>
<input type="submit" value="Submit"> 
        
</form>
    
    </body>
</html>