@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f7faff;
    color: rgb(0, 0, 0);
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding:24px;
    border: none;
}

table{
    border: none;
    justify-content: center;
    border-radius: 20px;
    max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	min-height: 100vh;
}

thead{
    font-size: 30px;
    border: none;
    background-color: #003580;
    border: solid 2px #febb02;
    color: #fff;
    border-radius: 20px;
}

tbody{
    margin-top: 20px;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    color: #003580;
    border: solid 2px #febb02;
    border-radius: 20px;
}