@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f7faff;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003580;
    border: solid 2px #febb02;
    gap: 30px;
    width: 10204px;
    font-size: 20px;
}
.recommender{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput{
    margin: 50px 0 50px 0;
    padding: 40px 20px;
    background-color: #003580;
    border-radius: 20px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}


input{
    border: solid 2px #febb02;
    border-radius: 50px;
    height: 40px;
    width: 350px;
    gap: 30px;
}